SECRET_KEY=dev-insecure-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Django
DJANGO_PORT=8000

# Postgres
POSTGRES_PORT=5432
POSTGRES_DB=order_creation
POSTGRES_USER=order_creation
POSTGRES_PASSWORD=order_creation_password
DB_HOST=postgres
